IGPSPORT_USERNAME='your_email'
IGPSPORT_PASSWORD='your_password'
RUN_INTERVAL_SECONDS=3600
# 900 = 15 minutes
# 3600 = 1 hour
# 86400 = 1 day
#now docker
#IGPSPORT_DOWNLOAD_DIR="./fit_files"
#IGPSPORT_LOG_DIR="./logs"
